.card{
    width: 300px;
    background-color: #fff;
    box-shadow: 2px 5px 20px black;
    font-family: sans-serif;
    padding: 3rem;
    margin: 0;
}
.title{
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.h2{
    text-align: center;
}
.subtitle{
    text-align: center;
    font-weight: bold;
}
.a{
    text-decoration: none;
    color: rgb(43, 43, 180);

}
.fa-brands{
    width: 24px;
    font-size: 22px;
}
.btn-text{
    margin: 0;
}
.social-login{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.google{
    background: #d6dbe2;
    border: solid 2px rgb(245, 241, 241);
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 10px;
    display: flex;
    flex: auto;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.github{
    background: #fff;
    border: solid rgba(0, 0, 0, 0.89) 2px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.or{
    border-bottom: 2px solid gainsboro;
    text-align: center;
    line-height: 0.1em;
    margin: 25px 0;
    font-size: 0.8em;
}
.or span{
    background: #fff;
    padding: 0;
}
.email-login{
    display: flex;
    flex-direction: column;
}
.email-login label{
    color: rgb(72, 137, 194);
}
input{
    border: 1px solid #e7dede;
    padding: 15px 20px;
    margin: 8px 0 8px 0;
    border-radius: 8px;
    position: relative;
    /* box-sizing: border-box; */
    /* margin-top: 8px;
    margin-bottom: 8px; */
}
.Forgot-password{
    font-family: sans-serif;
    text-decoration: none;
}
.Submit{
    cursor:pointer;
}
.fa-eye{
    display: flex;
    position: absolute;
    top: 38%;
    right: 64%;

}

.fa-google{
    color: rgb(81, 81, 230);
}